<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/home-style/estilo.css">
    <link rel="stylesheet" href="../../css/navbar-style/estilo.css">
    <link rel="stylesheet" href="../../css/modal-style/estilo.css">



    <title>Find Job | Home</title>
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>



</head>

<body>
    <div class="todo">
        <nav class="nav-top">

            <div class="buscar">
                <input type="text" name="txtBusca" id="" placeholder="Buscar">
            </div>
            <div class="user" href="perfil.html">

                <span class="user-img">
                    <img src="../../img/user.png" alt="" srcset="">
                </span>
                <div class="user-text">
                    <h4>Olá, Luccas Mello</h4>
                </div>
                <div class="sair">
                    <li><a href="../login/login.html">
                            <i class='bx bx-log-out bx-flip-horizontal icon'></i>
                        </a>
                    </li>
                </div>
            </div>


        </nav>

        <nav class="nav-left">

            <header class="header">
                <span class="img">
                    <img src="../../img/logo.png" alt="" srcset="">
                </span>

                <i class='bx bx-menu toggle'></i>

            </header>


            <div class="menu-bar">
                <div class="menu">
                    <ul class="tlogo">

                        <span class="text nav-text"><strong>FIND JOB</strong></span>
                    </ul>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="perfil.html">

                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Perfil</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-file icon'></i>
                                <span class="text nav-text">Curriculo</span>
                            </a>
                        </li>
                        <li class="img-logo">
                            <img src="../../img/logo_senai.png" alt="">
                        </li>

                </div>

            </div>


        </nav>
        <nav class="nav-bootom"></nav>


        <div class="home">
            <div class="principal">

                <div class="div">

                    <div class="empresa">
                        <h3>Nome de empresa</h3>
                    </div>
                    <div class="local">
                        <h4>Local:</h4>
                        <p>São paulo - SP</p>
                    </div>
                    <div class="exigencias">
                        <h4>Exigencias:</h4>
                        <p> Lorem ipsum quis pretium morbi praesent nec integer sagittis curabitur, etiam euismod diam
                            semper sit suspendisse nam fermentum quisque mattis, nec et torquent nunc eleifend semper
                        </p>
                    </div>
                    <div class="bVerMais"><input type="button" value="Ver mais..." id="myBtn"></div>


                    <!-- Aba Laterl esquerda -->
                    <div class="aba">
                        <i class='bx bx-chevron-left contats ' id="contats"></i>
                        <div class="contatos ">
                            <h4>Entre em contato conosco:</h4>
                            <span>
                                <h5>Contato</h5>
                                <p>(11) 3003-2580</p>
                            </span>
                            <span>
                                <h5>Whatsapp</h5>
                                <p>(11) 3003-2580</p>
                            </span>
                            <span>
                                <h5>Email</h5>
                                <p>Emaiaqui@gmail.com</p>
                            </span>

                        </div>
                    </div>
                </div>

                <!-- DIV 2 -->



                <div class="div">
                    <div class="empresa">
                        <h3>Nome de empresa</h3>
                    </div>
                    <div class="local">
                        <h4>Local:</h4>
                        <p>São paulo - SP</p>
                    </div>
                    <div class="exigencias">
                        <h4>Exigencias:</h4>
                        <p> Lorem ipsum quis pretium morbi praesent nec integer sagittis curabitur, etiam euismod diam
                            semper sit suspendisse nam fermentum quisque mattis, nec et torquent nunc eleifend semper
                            f</p>
                    </div>
                    <div class="bVerMais"><input type="button" value="Ver mais..." id="myBtn"></div>


                    <!-- Aba Laterl esquerda -->
                    <div class="aba">
                        <i class='bx bx-chevron-left contats ' id="contats"></i>
                        <div class="contatos ">
                            <h4>Entre em contato conosco:</h4>
                            <span>
                                <h5>Contato</h5>
                                <p>(11) 3003-2580</p>
                            </span>
                            <span>
                                <h5>Whatsapp</h5>
                                <p>(11) 3003-2580</p>
                            </span>
                            <span>
                                <h5>Email</h5>
                                <p>Emaiaqui@gmail.com</p>
                            </span>

                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="divModal">
                    <div id="myModal" class="modal">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Nome da Vaga</h2>

                            </div>

                            <div class="modal-body">
                                <ul class="nav-links">
                                    <li><a href="#">Nome da Vaga</a></li>
                                    <li class="center"><a href="#">Portfolio</a></li>
                                    <li class="upward"><a href="#">Services</a></li>
                                    <li class="forward"><a href="#">Feedback</a></li>
                                </ul>
                                <div class="escopo">
                                    <div class="direita">
                                        <span>
                                            <h5>Local:</h5>
                                            <p>São Paulo - SP</p>
                                        </span>
                                        <span>
                                            <h5>Requisitos:</h5>
                                            <p>Experiência com logística
                                                Experiência com sistema totvs fly01</p>
                                        </span>
                                        <span>
                                            <h5>Regime de Contratação:</h5>
                                            <p>CLT (efetivo), prestador de serviços (PJ)</p>
                                        </span>
                                    </div>

                                    <div class="esquerda">
                                        <span>
                                            <h5>Salario:</h5>
                                            <p>São Paulo - SP</p>

                                        </span>
                                        <span>
                                            <h5>Beneficios:</h5>
                                            <p>Tíquete Refeição, Tíquete Alimentação,
                                                Vale Transporte, Vale Alimentação</p>
                                        </span>
                                        <span>
                                            <h5>Horarios:</h5>
                                            <p> 08:00 ás 17:00 Seg a Sex
                                                <br> 08:00 ás 16:00 Sábado
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="sairM">
                                    <span class="sairModal">Sair</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Filtro -->
        <div class="divFiltro">
            <div class="filtro">
                <div class="buscarFiltro">
                    <input type="text" name="txtBuscaF" id="" placeholder="Buscar">


                </div>
            </div>
        </div>
    </div>
    <script src="../../js/navbar-js/script.js"></script>
    <script src="../../js/home-js/script.js"></script>
    <script src="../../js/modal-js/script.js"></script>
</body>

</html>