<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/navbar-style/estilo.css">
    <link rel="stylesheet" href="../../css/home-style/estilo.css">
    <title>navbar</title>
     <!----===== Boxicons CSS ===== -->
     <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="nav-top">

        <div class="buscar" style="display:none ;">
            <input type="text" name="txtBusca" id="" placeholder="Buscar">
        </div>
      <div class="user">
        <span class="user-img">
            <img src="../../img/user.png" alt="" srcset="">
        </span>
        <div class="user-text">
            <h4>Olá, Luccas Mello</h4>
        </div>
      </div>
    </nav>

    <nav class="nav-left">
        
        <header class="header">
                <span class="img">
                    <img src="../../img/logo.png" alt="" srcset="">
                </span> 
                
            <i class='bx bx-menu toggle'></i>
            
        </header>

        
        <div class="menu-bar">
            <div class="menu">
                <ul class="tlogo">
                    
                    <span class="text nav-text"><strong>FIND JOB</strong></span>
                </ul> 
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                         
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Perfil</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-file icon'></i>
                            <span class="text nav-text">Curriculo</span>
                        </a>
                    </li>
                    <li class="img-logo">
                        <img src="../../img/logo_senai.png" alt="">
                    </li>

                    
                </ul>
                
            </div>
            

        </div>

        
    </nav>
   
    <section class="home">
      
        <div class="principal">
           
        

        </div>
        
        
    </section>
    
    <script src="../../js/navbar-js/script.js"></script>
</body>

</html>