<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----===== Bootstrap ===== -->
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/solicitacao-style/estilo.css">
    <link rel="stylesheet" href="../../css/navbar-style/estilo.css">
    <!--   <link rel="stylesheet" href="../../css/modal-style/estilo.css">
 -->


    <title>Find Job | Home</title>
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="todo">
        <nav class="nav-top">

            <div class="buscar" id="divbuscar">
                <input class="buscar" type="text" placeholder="Buscar" id="buscar">
                <div type="button" class="icone">
                    <i class='bx bx-search icon'></i>
                </div>
            </div>
            <div class="user" href="perfil.html">
                <span class="user-img">
                    <img src="../../img/user.png" alt="" srcset="">
                </span>
                <div class="user-text">
                    <label>Olá, Luccas Mello</label>
                </div>
            </div>


        </nav>

        <nav class="nav-left">

            <header class="header">
                <span class="img">
                    <img src="../../img/logo.png" alt="" srcset="">
                </span>

                <i class='bx bx-menu toggle'></i>

            </header>


            <div class="menu-bar">
                <div class="menu">
                    <ul class="tlogo">

                        <span class="text nav-text"><strong>FIND JOB</strong></span>
                    </ul>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="perfil.html">

                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Perfil</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="home.html">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">

                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Solicitações</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">

                                <i class='bx bx-user-plus icon'></i>
                                <span class="text nav-text">Cadastro</span>
                            </a>
                        </li>
                        <li class="sair">
                            <a href="../login/login.html">
                                <i class='bx bx-log-out icon sair'></i>
                            </a>
                        </li>

                </div>
            </div>


        </nav>
        <nav class="nav-bootom"></nav>


        <div class="home">
            <div class="principal">
                <div class="container">

                    <div class="group">
                        <div class="solicVaga" id="vaga">
                            <li>Vaga</li>
                        </div>
                        <div class="solicEmpresa close" id="empresa">
                            <li>Empresa</li>
                        </div>
                    </div>

                    <!-- Solicitações de vagas -->
                    <div class="card vagas" id="cardVagas">

                        <div class="card-header">
                            <h3 class="card-title">Solicitações de Vaga</h3>
                            <div class="btn-superior">
                                <div class="add">
                                    <div class="addVaga">
                                        <button type="button" class="btn addVaga">Adicionar Vaga +</button>
                                    </div>
                                    <div class="addEmpresa">
                                        <button type="button" class="btn addEmpresa">Adicionar Empresa +</button>
                                    </div>


                                </div>



                            </div>
                            <div id="vagasGroup"></div>
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item ">
                                        <a class="page-link">&laquo;</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                    <!-- solicitações de empresa -->
                    <div class="card empresa close" id="cardEmpresa">
                        <div class="card-header">
                            <h3 class="card-title">Solicitações de Empresas</h3>
                            <div class="btn-superior">
                                <div class="add">
                                    <div class="addVaga">
                                        <button type="button" class="btn addVaga">Adicionar Vaga +</button>
                                    </div>
                                    <div class="addEmpresa">
                                        <button type="button" class="btn addEmpresa">Adicionar Empresa +</button>
                                    </div>


                                </div>



                            </div>
                            <div id="empresaGroup">
                                
                            </div>





                            <nav aria-label="Page navigation example ">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item ">
                                        <a class="page-link">&laquo;</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Bootstrap -->
            <script src="../../bootstrap/js/bootstrap.bundle.js"></script>
            <script src="../../js/navbar-js/script.js"></script>
            <script src="../../js/solicitacao-js/script.js"></script>

</body>

</html>