<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../css/login-style/estilo.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Find Job | Login</title>
  </head>



 <body>
    <div class="container">
      <div class="logo">
        <img src="../../img/logo_principal.png" class="logo_principal" />
      </div>



     <div class="principal">
        <form class="login">
          <div class="title">
            <h3>ENTRAR</h3>
          </div>
          <span class="voltar" style="opacity: 0">
            <div class="circle">
              <i class="bx bx-chevron-left contats" id="contats"></i>
            </div>
          </span>
          <div class="inputs">
            <span class="cpf">
              <h4>CPF:</h4>
              <input type="text" placeholder="CPF" />
            </span>
            <span class="senha">
              <h4>SENHA:</h4>
              <input type="text" placeholder="Senha" />
            </span>
            </div>
          <span class="entrar">
            <a href="../usuario/home.html">
            <input type="button" value="Entrar" id="entrar" />
          </a>
          </span>
          
          <span class="naoTem">
            <a href="../cadastro/cadastro.html">Não possui uma conta?</a>
          </span>
          
        </form>        
      </div>
      <div class="imagem">
        <img src="../../img/trabalhando2.jpg" alt="" srcset="" />
      </div>
      <div class="logoSenai">
        <img src="../../img/logo_senai.png" class="logo_senai" />
      </div>
      >
    </div>
  </body>
</html>