  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!----===== Bootstrap ===== -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="../../../css/cadastro-style/estilo.css" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../css/notifications-style/estilo.css" />



<!-- Envio de email quando cadastrar -->
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
  </script>
  <script type="text/javascript">
    (function () {
      emailjs.init("z7o4593zD739tQAdz");
    })();
  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Find Job | Cadastro</title>
</head>





<body>


  <div class="container">
    <div class="logo">
      <img src="../../../img/logo_principal.svg   " class="logo_principal" />
    </div>





    <form class="principal" action=" " name="form">
      <div class="cadastro">
        <div class="title">
          <h3>CADASTRE<strong style="color: #ed7a11">-</strong>SE</h3>
          <span></span>
        </div>
        <span class="voltar" style="opacity: 0">
          <div class="circle">
            <i class="bx bx-chevron-left contats" id="contats"></i>
          </div>
        </span>
        <div class="inputs">
          <span class="nomeC">
            <label>NOME:</label>
            <input type="text" placeholder="Nome completo" id="nome" class="form"/>

          </span>
          <span class="cpf">
            <label>CPF:</label>
            <input placeholder="CPF" type="text" id="cpf">
          </span>
        </div>
        <span class="proximo">
          <input type="button" value="Próximo" id="proximo" />
        </span>
        <span class="bolinhas">
          <div class="c1"></div>
          <div class="c2"></div>
        </span>
        <span class="jaTem">
          <a href="../login/login_user.html">Já possui uma conta?</a>
        </span>

      </div>



      <div class="cadastroP close">
        <div class="title">
          <h3>CADASTRE<strong style="color: #ed7a11">-</strong>SE</h3>
          <span></span>
        </div>
        <span class="voltar" id="voltar">
          <div class="circle">
            <i class="bx bx-chevron-left contats" id="contats"></i>
          </div>
        </span>
        <div class="inputs">
          <span class="email">
            <label>E-MAIL:</label>
            <input type="text" name="email" onblur="validacaoEmail(form.email)" maxlength="60" size='65'
              placeholder="Email" id='email' />
          </span>
          <span class="senha">
            <label>SENHA:</label>
            <input type="password" placeholder="Senha" id="senha" />
          </span>
          <span class="cSenha">
            <label>CONFIRME A SENHA:</label>
            <input type="password" placeholder="Confirme a senha" id="repitaSenha" />
          </span>
        </div>
        <span class="concluir">
          <input type="submit" value='Concluir' class="concluir"  >
        </span>
        <span class="bolinhas">
          <div class="c1"></div>
          <div class="c2"></div>
        </span>
        <!-- onclick="sendEmail()" -->




        <span class="jaTem">
          <a href="../login/login_user.html">Já possui uma conta?</a>
        </span>

      </div>
    </form>
    <div class="imagem">
    </div>

  </div>

  <script src="../../../js/validacao-js/script.js"></script>
  <script src="../../../js/cadastro-js/cad-usuario/script.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>


</body>

</html>