<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../css/nova_senha/estilo.css" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  <title>Find Job | Recuprecação de senha</title>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="../../img/logo_principal.png" class="logo_principal" />
    </div>



    <div class="principal">
      <form class="recuperacao_senha">
        <div class="title">
          <h3>NOVA SENHA</h3>
          <span></span>
        </div>

        

          <div class="inputs">
            <span class="texto t1">

              <span class="nSenha">
                <h4>NOVA SENHA:</h4>
                <input type="senha" placeholder="insira a nova senha:" />
              </span>
              <span class="cSenha">
                <h4>CONFIRME A SENHA:</h4>
                <input type="senha" placeholder="confirme a senha:" />
              </span>


          </div>
          <span class="entrar">
            <a href="../usuario/home.html">
              <input type="submit" value="Entar" id="entrar" />
            </a>




      </form>
    </div>
    <div class="imagem">
      <img src="../../img/trabalhando2.jpg" alt="" srcset="" />
    </div>
    <div class="logoSenai">
      <img src="../../img/logo_senai.png" class="logo_senai" />
    </div>



</body>

</html>