<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../../css/rec-senha-style/estilo.css" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  
  
    <!----===== Bootstrap ===== -->
  <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
 
  
  <title>Find Job | Recuprecação de senha</title>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="../../../img/logo_principal.png" class="logo_principal" />
    </div>
    
    
    <div class="imagem">
    <div class="img"></div>
    </div>

    <div class="principal">
      <form class="recuperacao_senha">
        <div class="title">
          <h3>RECUPERAÇÃO DE SENHA</h3>
          <span></span>
        </div>

        <span class="voltar" id="voltar">
          <a href="../../login/login/login.html">
            <div class="circle">

              <i class="bx bx-chevron-left contats" id="contats"></i>

            </div>
          </a>

          <div class="inputs">
            <span class="texto t1">
              <p>Para sua segurança e de seus dados,
                vamos confirmar a suas informações.</p>
            </span>
            <span class="senha">
              <label>E-MAIL:</label>
              <input type="email" placeholder="email" />
            </span>
            <span class="texto t2">
              <p>Enviamos um e-mail de verificação para o endereço h******2@***il.com </p>
            </span>


          </div>
          <span class="enviar">
            <a href="../../usuario/home.html">
              <input type="submit" value="Enviar" id="entrar" />
            </a>

          </span>


      </form>
    </div>

  </div>    
  <!-- Bootstrap -->
  <script src="../../../bootstrap/js/bootstrap.min.js"></script>

</body>

</html>