<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../../css/nova_senha_empresa/estilo.css" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  
   <!----===== Bootstrap ===== -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


  
  <title>Find Job | Recuperação de senha</title>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="../../../img/logo_principal.svg" class="logo_principal" />
    </div>



    <div class="principal">
      <form class="recuperacao_senha">
        <div class="title">
          <h3>NOVA SENHA</h3>
          <span></span>
        </div>

        

          <div class="inputs">
            <span class="texto t1">

              <span class="nSenha">
                <label>NOVA SENHA:</label>
                <input type="password" placeholder="Insira a nova senha:" />
              </span>
              <span class="cSenha">
                <label>CONFIRME A SENHA:</label>
                <input type="password" placeholder="Confirme a senha:" />
              </span>


          </div>
          <span class="entrar">
            <a href="../../empresa/home.html">
              <input type="submit" value="Entrar" id="entrarEmpresa" />
            </a>




      </form>
    </div>
    <div class="imagem">
    </div>
  </div>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
  crossorigin="anonymous"></script>

</body>

</html>