<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- validação do token-->
    <script src="../../js/token/empresa/script.js" defer></script>
    <!----===== Bootstrap ===== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/postagens-style/estilo.css">
    <link rel="stylesheet" href="../../css/navbar-style/estilo.css">
    <!--   <link rel="stylesheet" href="../../css/modal-style/estilo.css">
 -->

 <!-- axios -->
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Find Job | Postagens</title>
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>


    <script src="../../js/postagens/script.js" defer></script>
 
</head>

<body>
    <div class="todo">
        <nav class="nav-top">

            <div class="buscar" id="divbuscar">
                <input class="buscar" type="text" placeholder="Buscar" id="buscar">
                <div type="button" class="icone">
                    <i class='bx bx-search icon'></i>
                </div>
            </div>
            <div class="user" href="perfil.html">
            <!--     <span class="user-img">
                    <img src="../../img/user.png" alt="" srcset="">
                </span> -->
                <div class="user-text">
                    
                </div>
            </div>


        </nav>

        <nav class="nav-left">

            <header class="header">
                <span class="img">
                    <img src="../../img/logo.png" alt="" srcset="">
                </span>

                <i class='bx bx-menu toggle'></i>

            </header>


            <div class="menu-bar">
                <div class="menu">
                    <ul class="tlogo">

                        <span class="text nav-text"><strong>FIND JOB</strong></span>
                    </ul>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="perfil.html">

                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Perfil</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="home.html">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="postagens.html">
                                <i class='bx bx-file icon'></i>
                                <span class="text nav-text">Postagens</span>
                            </a>
                        </li>
                        <li class="sair">
                            <a href="../login/login/login_empresa.html">
                                <i class='bx bx-log-out icon sair'></i>
                            </a>
                        </li>

                </div>

            </div>


        </nav>
        <nav class="nav-bootom"></nav>

        
        <div class="home">
        
            <div class="principal">
                <div class="title">
                    <h1>Minhas Postagens</h1>
                </div>
                <div class="col-12 b">
                    <button class="btn btn-primary" role="button" id="adiconaVaga" style="display: none;">+</button>
                </div>


                <!-- Modal -->

                <div class="modal fade" id="modalVaga" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"  id="nomeVaga">Nome da Vaga</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>

                            </div>

                            <div class="modal-body" id="modalBody">

                            </div>
                            <div class="modal-footer">
                             
                                <button type="button" class="btn btn-secondary" id="editVaga">Editar</button>
                                <button type="button" class="btn btn-secondary" id="buttonDeleteVaga">Exluir</button>
                        

                                <button type="button" class="btn btn-secondary" id="pdf">PDF</button>
                                <button type="button" class="btn btn-primary" id="contatos">Contatos</button>
                                <button type="button" class="btn btn-secondary" id="close">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
     <!-- ADICIONA VAGA-->
     <div class="modal fade" id="modalAddVaga1" tabindex="-1" aria-labelledby="Label" aria-hidden="true">

        <div class="modal-dialog modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropEditEP">NOVA VAGA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label">NOME DA VAGA:</label>
                          <input type="text" class="form-control" placeholder="Nome da vaga" id="tituloVaga">
                        </div>
                        
                   
                        <div class="col-md-12">
                            <h5>Meios de contato:</h5>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">E-MAIL DA EMPRESA:</label>
                            <input type="email" class="form-control" placeholder="E-mail da empresa" id="emailContato">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">WHATSAPP DA EMPRESA:</label>
                            <input type="text" class="form-control"id= "wppVaga" placeholder="WhatsApp da empresa" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">TELEFONE DA EMPRESA:</label>
                            <input type="text" class="form-control" id="telefoneContato"placeholder="Telefone da empresa" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" />
                        </div>
                
                
                
                       <div class="col-md-6">
                            <label class="form-label">SITE DA EMPRESA:</label>
                            <input type="text" class="form-control" placeholder="Site da empresa" id="site">
                        </div>
                
                
                        <div class="col-md-6">
                            <label class="form-label">REGIME DE CONTRATAÇÃO:</label>
                            <select class="form-select" aria-label="Default select example" id="contratacao">
                                <option disabled selected>Selecione uma opção</option>
                                <option value="efetivo">Efetivo</option>
                                <option value="tempoDeterminado">Por tempo determinado</option>
                                <option value="temporario">Temporário</option>
                                <option value="terceirizado">Terceirizado</option>
                                <option value="intermitente">Intermitente</option>
                                <option value="parcial">Parcial</option>         
                                <option value="homeOffice">Home-office</option>
                                <option value="autônomo">Autônomo</option>
                                <option value="prestacaoServiços">Prestação de serviços</option>
                                <option value="estagio">Estágio</option>
                                <option value="trainee">Trainee</option>
                                <option value="jovemAprendiz">Jovem aprendiz</option>
                                <option value="trabalhadorHipersuficiente">Trabalhador hipersuficiente</option>
                
                
                
                             </select>
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">PERÍODO DA VAGA:</label>
                            <select class="form-select" aria-label="Default select example" id="periodo">
                                <option disabled selected>Selecione uma opção</option>
                                <option value="diurno">Diurno</option>
                                <option value="noturno">Noturno</option>
                                <option value="matutino">Matutino</option>
                              </select>
                        </div>
                
                
                
                         <div class="col-md-6">
                            <label class="form-label">ÁREA PROFISSIONAL:</label>
                            <select class="form-select" aria-label="Default select example" id="areaProfissional">
                                <option disabled selected>Selecione uma opção</option>
                                <option value="administracao">Administração</option>
                                <option value="alimentosBebidas">Alimentos e bebidas</option>
                                <option value="design">Design Gráfico</option>
                                <option value="eletrica">Elétrica</option>
                                <option value="empilhadeira">Empilhadeira</option>
                                <option value="logistica">Logística</option>
                                <option value="mecatronica">Mecatrônica</option>
                                <option value="mecanica">Mecânica</option>
                                <option value="MeioAmbiente">Meio Ambiente</option>
                                <option value="metalurgia">Metalurgia</option>
                                <option value="sisAutomacao">Sistema de automação</option>
                                <option value="soldagem">Soldagem</option>
                                <option value="TI">Tecnologia da Informação</option>                            
                             </select>
                          </div>   
                
                
                
                         <div class="col-md-6">
                            <label class="form-label">SALÁRIO:</label>
                            <input type="text" class="form-control" placeholder="Salário" id="salario" maxlength="9" onkeyup="formatarMoeda()">
                          </div>   
                          
                          <div class="col-md-6">
                            <label class="form-label">AOS CUIDADOS DE:</label>
                            <input type="text" id="cuidados" class="form-control" placeholder="Pessoa que receberá os currículos">
                          </div>    
                      
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="proximoVaga">Próximo</button>


                </div>
            </div>
        </div>
    </div>
    <!--  ADICIONA VAGA 2  -->
    <div class="modal fade" id="modalAddVaga2" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropEditEP">NOVA VAGA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        
                
                
                
                         <div class="col-md-12">
                            <label class="form-label">REQUISITOS:</label>
                            <textarea class="form-control" rows="3" placeholder="Ex: Ensino Médio, Ensino Superior, etc..."id="requisitos"></textarea>
                        </div>
                
                
                
                       <div class="col-md-12">
                            <label class="form-label">DESCRIÇÃO DA VAGA:</label>
                            <textarea class="form-control" rows="2" placeholder="Descrição da vaga"id ="descricao"></textarea>
                        </div>
                
                
                
                       <div class="col-md-12">
                            <label class="form-label">DESEJÁVEL:</label>
                            <textarea class="form-control" rows="2" placeholder="Ex: Excel, Word, PowerPoint, etc..." id="desejaveis"></textarea>
                        </div>
        
                          
                          <div class="col-md-12">
                            <label class="form-label">BENEFÍCIOS:</label>
                            <textarea class="form-control" id="beneficios" rows="2" placeholder="Ex: Vale Refeição, Vale Alimentação, Vale Transporte, etc..."></textarea>
                        </div>   
                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" 
                    id="voltarVaga">Voltar</button>
                    <button class="btn btn-primary" 
                        id="salvarVaga">Salvar</button>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalContato" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalContato">CONTATO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="conteudoContato">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"id="closeContato">Voltar</button>


                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>

    <script src="../../js/navbar-js/script.js"></script>
 

</body>

</html>