@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Cores ===== */
    --body-color: rgb(245, 243, 243);
    --blue-color: #427AAA;
    --orange-color: #ED7A11;
    --white-color: #ffffff;
    --text-color: #ffffff;
    --gray-color: #dfdfdf;
    /* ====== Transições ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body{
    background-color: var(--body-color);
}
p::selection,
h3::selection,
h4::selection,
h2::selection,
h5::selection,
i::selection,
a::selection,
ul::selection,
li::selection,
span::selection,
label::selection,
input::selection,
button::selection,
strong::selection,
img::selection {
    background-color: var(--orange-color) !important;
    color: #ffffff;

}

.home {
    width: 70%;
    position: absolute;
    left: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: var(--tran-05);


}
.principal{
    margin-top: 8%;
    width: 100%;
    height: 100%;
    display: flex;

}
/* Divs */
li,
a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    transition: var(--tran-03);
    cursor: pointer;
}

.botao{
    left: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.botao div{
    padding: 10px;
    background-color: #dfdfdf;
    border: none;
    text-align: center;
    width: 300px;
 
}
.botao div li{
    list-style-type: none;

}

.card{
    width: 100%;
    position: absolute !important; 

}
.card.usuario{
    display: visible;
}
.card.usuario.close{
    display: none;
}
.card.administrador.close{
    display: none;
}
.listaUser{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 5px solid #427AAA !important;
    width: 20%  !important  ;
    height: 35px;

 
}
.listaUser.close{
    border-bottom: 0px !important;
   
    
}
.listaAdm{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 5px solid #427AAA !important;
    width: 20%  !important;
    height: 35px;
}
.listaAdm.close{
    border-bottom: 0px !important;
   
}




thead th{
    padding: 2%;
    text-align: center;
}

tbody img{
    width: 50px;
}

tbody th{
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

tbody td{
    padding: 2%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

tbody td button{
    background-color: #EA5757;
    color: #ffffff;    
    border: none;
    border-radius: 5px;
    padding: 10px;

}
tbody td button i{
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle

}
.pagination{
    margin-top: 20px;
}
.page-link {
    border-radius: 0%;
    color: #427AAA;
}
.page-link:hover {
    color: #ffffff;
    background-color: #ED7A11;  

}
.listagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}