@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Cores ===== */
    --body-color: rgb(245, 243, 243);
    --blue-color: #427AAA;
    --orange-color: #ED7A11;
    --white-color: #ffffff;
    --text-color: #ffffff;
    --gray-color: #dfdfdf;
    /* ====== Transições ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body{
    background-color: var(--body-color);
}
p::selection,
h3::selection,
h4::selection,
h2::selection,
h5::selection,
i::selection,
a::selection,
ul::selection,
li::selection,
span::selection,
label::selection,
input::selection,
button::selection,
strong::selection,
img::selection {
    background-color: var(--orange-color) !important;
    color: #ffffff;

}

.home {
    width: 80%;
}

.nav-left.close~.home {
    width: 90%;
    left: 7.5% !important;
    height: 100vh;

}

.home {
    position: absolute;
    left: 17.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: var(--tran-05);
    align-items: center;
}
.botao{
    display: flex;
    position: absolute;
    top: 251px;
    left: 0px;
    cursor: pointer;
}
.botao div{
    padding: 10px;
    background-color: #dfdfdf;
    border: none;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.botao div li{
    list-style-type: none;

}


/*
.elementos{
    position: relative;
    top: 15%;
    display: flex;
    width: 90%;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
}

.botao{
    position: relative;
    display: flex;
    bottom: 2%;
}
.botao button{
    padding: 10px;
    background-color: #427AAA;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 15px;
}

.listagem{
    background-color: #ffffff;
    display: flex;
    position: relative;
    left: 2%;
    padding: 20px;
    flex-direction: column;

}

.busca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2%;
}

.icone{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    align-items: center;
    border-radius: 30px 0 0 30px;
}

.buscar {
    border: none;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    outline: 0;
    width: 500px;
    border-radius: 0 30px 30px 0;
}

.lista div{
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 8px;
}

.foto{
    width: 45%;
}

.foto img{
    width: 60px;
    height: 60px;
}

.foto h4{
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
}

.info{
    display: flex !important;
    flex-direction: row !important;
    text-align: left;
    margin: auto;
    width: 35%;
    justify-content: space-around;
}

.excluir{
    width: 5%;
}

.excluir button{
    width: 100%;
    height: 100%;
    background-color: #EA5757;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.excluir button i{
    font-size: 40px;
}
*/

.card{
    width: 100%;
    padding: 40px 40px 0px 40px;
    position: absolute !important;
    top: 300px;    
    right: 0px;  
    left: 0px;
}
.card.usuario{
    display: visible;
}
.card.usuario.close{
    display: none;
}
.card.administrador.close{
    display: none;
}
.listaUser{
    display: flex !important;
    justify-content: center !important;
    border-bottom: 5px solid #427AAA !important;
}
.listaUser.close{
    border-bottom: 0px !important;
}
.listaAdm{
    display: flex !important;
    justify-content: center !important;
    border-bottom: 5px solid #427AAA !important;
}
.listaAdm.close{
    border-bottom: 0px !important;
}




thead th{
    text-align: center;
}

tbody img{
    width: 50px;
}

tbody th{
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

tbody td{
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

tbody td button{
    background-color: #EA5757;
    color: #ffffff;    
    border: none;
    border-radius: 5px;
    padding: 10px;

}
tbody td button i{
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle

}
.pagination{
    margin-top: 20px;
}
.page-link {
    border-radius: 0%;
    color: #427AAA;
}
.page-link:hover {
    color: #ffffff;
    background-color: #ED7A11;  

}
