<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../css/cadastro-style/estilo.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Find Job | Cadastro</title>
  </head>



 <body>
    <div class="container">
      <div class="logo">
        <img src="../../img/logo_principal.png" class="logo_principal" />
      </div>



     <div class="principal">
        <form class="cadastro">
          <div class="title">
            <h3>CADASTRE<strong style="color: #ed7a11">-</strong>SE</h3>
          </div>
          <span class="voltar" style="opacity: 0">
            <div class="circle">
              <i class="bx bx-chevron-left contats" id="contats"></i>
            </div>
          </span>
          <div class="inputs">
            <span class="nomeC">
              <h4>NOME:</h4>
              <input type="text" placeholder="Nome completo" />
            </span>
            <span class="apelido">
              <h4>APELIDO:</h4>
              <input type="text" placeholder="Apelido" />
            </span>
            <span class="cpf">
              <h4>CPF:</h4>
              <input type="text" placeholder="CPF" />
            </span>
          </div>
          <span class="proximo">
            <input type="button" value="Próximo" id="proximo" />
          </span>
          <span class="bolinhas">
            <div class="c1"></div>
            <div class="c2"></div>
        </span>
          <span class="jaTem">
            <a href="../login/login.html">Já possui uma conta ?</a>
          </span>
          
        </form>



       <form class="cadastroP">
          <div class="title">
            <h3>CADASTRE<strong style="color: #ed7a11">-</strong>SE</h3>
          </div>
          <span class="voltar" id="voltar">
            <div class="circle">
              <i class="bx bx-chevron-left contats" id="contats"></i>
            </div>
          </span>
          <div class="inputs">
            <span class="nomeC">
              <h4>E-MAIL:</h4>
              <input type="email" placeholder="E-mail" />
            </span>
            <span class="apelido">
              <h4>SENHA:</h4>
              <input type="text" placeholder="Senha:" />
            </span>
            <span class="cpf">
              <h4>CONFIRMAR SENHA:</h4>
              <input type="text" placeholder="Confirmar senha:" />
            </span>
          </div>
          <span class="concluir">
            <a href="../usuario/home.html">
            <input type="button" value="Concluir" />
            </a>
          </span>
          <span class="bolinhas">
            <div class="c1"></div>
            <div class="c2"></div>
        </span>



         <span class="jaTem">
            <a href="../login/login.html">Já possui uma conta ?</a>
          </span>
           
        </form>
      </div>
      <div class="imagem">
        <img src="../../img/trabalhando2.jpg" alt="" srcset="" />
      </div>
      <div class="logoSenai">
        <img src="../../img/logo_senai.png" class="logo_senai" />
      </div>
      >
    </div>
    <script src="../../js/cadastro-js/scrip.js"></script>
  </body>
</html>