@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Cores ===== */
    --body-color: rgb(245, 243, 243);
    --blue-color: #427AAA;
    --orange-color: #ED7A11;
    --white-color: #ffffff;
    --text-color: #ffffff;
    --gray-color: #dfdfdf;
    /* ====== Transições ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body {
    background-color: var(--body-color) !important;
}

.home {
    width: 60%;
}
.nav-left.close~.home {
    left: 20%;
    height: 100vh;

}
.home {
    position: absolute;
    left: 25%;
    height: 100%;
    
    display: flex;
    transition: var(--tran-05);
    top: 5%;

}

/* Divs */

.home .principal {
    width: 80%;
    position: relative;
    top: 12%;
}

.div {
    max-width: 90%;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white-color);
    margin-top: 30px;
    border-radius: 15px;
    align-items: flex-start;
    box-shadow: 2px 1px 5px rgba(70, 70, 70, 0.493);

}

.empresa,
.local,
.exigencias {
    padding: 3%;
    
}

.bVerMais {
    background-color: var(--orange-color) !important;
    border: none    !important;
    position: relative;
    margin: 0 auto;
    bottom: 10px;
    cursor: pointer;

}

.bVerMais input:hover {
    padding: 5px;
    background-color: #ed7b11e0 !important; 
    cursor: pointer;
    transition: var(--tran-05);
}
.bVerMais input {
    position: relative !important;
    cursor: pointer;
    border: none;
    padding: 4px;
    border-radius: 15px;
    background-color: var(--orange-color);
    color: var(--white-color);
    box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.418);
    font-size: 15px;
}

.div .aba {
    position: absolute;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    
}

.aba.close {
    width: 50%;

}

.aba.close .bx-chevron-left {
    transform: rotate(180deg);

}

.aba {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: var(--tran-03);
}

.aba .contatos {
    opacity: 0;
}

.aba i {

    font-size: 40px;
    color: var(--text-color);

}






.div p,
h4 {

    overflow: hidden;
    /* // Removendo barra de rolagem */
    text-overflow: ellipsis;
    /* // Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*  // Quantidade de linhas */
    -webkit-box-orient: vertical;
    margin-right: 30px;

}


.aba.close .contatos {
    max-width: 80%;
    position: relative;
    display: flex;
    color: var(--white-color);
    flex-direction: column;
    margin: 0 auto;
    opacity: 1;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





.divFiltro {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 6%;
    right: -12px;
    width: 25%;
    height: 100%;
}


.filtro {
    height: 85%;
    width: 80%;
    box-shadow: 2px 1px 5px rgba(70, 70, 70, 0.493);
    background-color: var(--white-color);
    border-radius: 2%;
    border-bottom: solid 10px var(--blue-color);

}

/* .filtro .buscarFiltro {
    padding: 10px;

}

.filtro .buscarFiltro input {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 10px;
    font-size: 10px;

} */

/* @media screen and (max-width: 1200px) {
    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 13px;
    }

    p {
        font-size: 13px;

    }

    .home {
        left: 150px;
        width: calc(100% - 300px);
    }

    .div {
        width: 500px;
        height: 300px;
    }

    .div input {
        border-radius: 15px;
        font-size: 11px;
    }

    .aba i {
        font-size: 40px;
    }

    .div p {
        -webkit-line-clamp: 4;
    }

    .filtro {

        right: 40px;
        width: 200px;
        height: 300px;
        margin-top: 30px;

    }


    .filtro .buscarFiltro input {
        font-size: 9px;
        height: 25px;
        border-radius: 5px;
        border: none;
    }
}

@media screen and (max-width: 1024px) {
    h3 {
        font-size: 10px;
    }

    h4 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
    }

    p {
        font-size: 10px;

    }

    .home {
        left: 150px;
        width: calc(100% - 400px);
    }

    .div {
        width: 400px;
        height: 250px;
    }

    .div input {
        border-radius: 15px;
        font-size: 9px;
    }


    .aba i {
        font-size: 30px;
    }

    .div p {
        -webkit-line-clamp: 4;
    }

    .filtro {

        right: 40px;
        width: 133.33px;
        height: 250px;
        margin-top: 30px;

    }


    .filtro .buscarFiltro input {
        font-size: 8px;
        height: 15px;
        border-radius: 5px;
        border: none;
    }
}

@media screen and (max-width: 800px) {
    h3 {
        font-size: 8px;
    }

    h4 {
        font-size: 8px;
    }

    h5 {
        font-size: 8px;
    }

    p {
        font-size: 8px;

    }

    .home {
        left: 150px;
        width: calc(100% - 350px);
    }

    .div {
        width: 300px;
        height: 200px;
    }

    .div input {
        border-radius: 15px;
        font-size: 7px;
    }


    .aba i {
        font-size: 30px;
    }

    .div p {
        -webkit-line-clamp: 4;
    }

    .filtro {

        right: 40px;
        width: 100px;
        height: 200px;
        margin-top: 30px;

    }


    .filtro .buscarFiltro input {
        font-size: 7px;
        height: 10px;
        border-radius: 5px;
        border: none;
    }
}

@media screen and (max-width: 680px) {
    h3 {
        font-size: 6px;
    }

    h4 {
        font-size: 6px;
    }

    h5 {
        font-size: 6px;
    }

    p {
        font-size: 6px;

    }

    .home {
        left: 0px;
        width: 100%;
    }

    .div {
        width: 200px;
        height: 150px;
    }

    .div input {
        border-radius: 15px;
        font-size: 5px;
    }

    .aba i {
        font-size: 10px;
    }

    .aba.close span i {
        font-size: 10px;
    }

    .div p {
        -webkit-line-clamp: 4;
    }

    .filtro {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 6px;
    }

    h4 {
        font-size: 6px;
    }

    h5 {
        font-size: 6px;
    }

    p {
        font-size: 6px;

    }

    .home {
        left: 0px;
        width: 100%;
    }

    .div {
        width: 200px;
        height: 150px;
    }

    .div input {
        border-radius: 15px;
        font-size: 5px;
    }

    .aba i {
        font-size: 10px;
    }

    .aba.close span i {
        font-size: 10px;
    }

    .div p {
        -webkit-line-clamp: 4;
    }

    .filtro {
        display: none;
    }
} */